body{
    background-color: #6D9AC4;
}

#form{
    width: 300px;
    height: 300px;
    border-radius: 15px;
    background-color: white;
    /* display: flex; */
    justify-self: center;
    text-align: center;
    
}


.form-items{

}


.title{
    color: grey;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}